#simple_box 
  %h1.header= t('login.beta_notice')
  .box
    = t('login.signup_with_linkedin')
    - form_for UserSession.new do |f|
      %label= t('login.email')
      = text_field_tag :email
      = submit_tag t('login.signup_button'), :class => 'bright'
      %bright
      = link_to t('login.cancel'), root_path
