#home.current
  .toolbar
    %h1 PingTags
    %a{ :href => '#about', :class=>"button slideup", :id=>"infoButton" }
      = t('profile.about')
  %div{:style => 'text-align:center'}
    -if flash[:message]
      #flash_message= flash[:message]
    %h1= @user.name
    %p.headline= @user.headline
    -if @user.picture_url
      #avatar
        %img{:src=> @user.picture_url }
    %p.summary= @user.summary
  %ul.rounded
    %li.centered
      %a{:href => "#connect"}
        = t('profile.connect_via_linkedin')
  %h4= t('profile.contact_info')
  %ul.rounded
    -if @user.email
      %li.arrow
        %a{:href => "mailto:#{@user.email}", :rel => "external"}
          = @user.email
    -unless @user.phone_number.blank?
      %li.arrow
        %a{:href => "tel:#{@user.phone_number}", :rel => "external"}
          = @user.phone_number
  %h4= t('profile.links')
  %ul.rounded
    - @user.links.each do |link|
      %li.forward
        =tracked_link_to link[:name], link[:url], @scan.id, :target => '_blank'

#about
  .toolbar
    %h1 Pingtags
    %a{:href => '#', :class => 'back'}
      = t('profile.back')
  .centered
    %p
      %br
      = t('profile.beta')
      %br
      %a{ :href => "http://squarepush.com" }
        = t('profile.created_by')
  %ul.rounded
    %li.arrow.centered
      %a{:href => "#signup"}
        =t('profile.create_your_own')
#signup
  .toolbar
    %h1 Pingtags
    %a{:href => '#', :class => 'back'}
      =t('profile.back')
  .centered
    %p=t('profile.get_your_pingtag')
  -form_for(UserSession.new, :html => {:id => 'signupForm'}) do |f|
    =hidden_field_tag :source, 'signup'
    %ul.edit.rounded
      %li
        = text_field_tag :email, '', :placeholder => 'Email'
      %li.forward
        %a{:href => "#", :class => 'submitBtn'}= t('profile.signup')


#connect
  .toolbar
    %h1 Pingtags
    %a{:href => '#', :class => 'back'}
      = t('profile.back')
  .centered
    %h1= t('profile.connect_via_linkedin')
  -form_for(UserSession.new, :html => {:id => 'pingForm'}) do |f|
    =hidden_field_tag :user_crypt_id, @user.crypted_id
    =hidden_field_tag :source, 'ping'
    %ul.edit.rounded
      %li
        = text_field_tag :email, '', :placeholder => 'Email'
      %li.forward
        %a{:href => "#", :class => 'submitBtn'}= t('profile.ping')


:javascript
  $('form#pingForm .submitBtn').click(function(){
    $('form#pingForm').submit();
  });
  $('form#signupForm .submitBtn').click(function(){
    $('form#signupForm').submit();
  });
