#home.current
  .toolbar
    %h1 PingTags
    %a{ :href => '#about', :class=>"button slideup", :id=>"infoButton" }
      About
  %div{:style => 'text-align:center'}
    %h1= @user.name
    %p.headline= @user.headline
    #avatar
      %img{:src=> @user.picture_url }
    %p.summary= @user.summary
  %ul.rounded 
    %li.centered
      %a{:href => "#connect"}
        Connect via LinkedIn
  %h4 Contact Info
  %ul.rounded
    -if @user.email
      %li.arrow
        %a{:href => "mailto:#{@user.email}", :rel => "external"}
          = @user.email
    -unless @user.phone_number.blank?
      %li.arrow
        %a{:href => 'tel:#{@user.phone_number}', :rel => 'external'}
          =@user.phone_number
  %h4 Links
  %ul.rounded
    - @user.links.each do |link|
      %li.forward
        =tracked_link_to link[:name], link[:url], @scan.id, :target => '_blank'
        
#about
  .toolbar
    %h1 Pingtags
    %a{:href => '#', :class => 'back'}
      Back
  .centered
    %p
      %br
      Beta
      %br
      %a{ :href => "http://squarepush.com" }
        Created by SquarePush
  %ul.rounded 
    %li.arrow.centered
      %a{:href => "#signup"}
        Create your own PingTag
#signup
  .toolbar
    %h1 Pingtags
    %a{:href => '#', :class => 'back'}
      Back
  .centered
    %p Get your own PingTag by signing in with LinkedIn
  -form_for UserSession.new do |f|
    %ul.edit.rounded
      %li
        = text_field_tag :email, '', :placeholder => 'Email'
      %li.forward
        %a{:href => "#", :onclick => "$('form#new_user_session').submit();"} Signup using LinkedIn
      
#connect
  .toolbar
    %h1 Pingtags
    %a{:href => '#', :class => 'back'}
      Back
  .centered
    %h1 Coming Soon
    %p
      We are waiting on LinkedIn to fix a bug on their system.
      Once this is done, you'll have the ability to connect with this
      person via LinkedIn.
      %br
      Thanks for your patience!
      %br
  %a.grayButton.goback{ :href => "#" }
    Go Back