#home
  %div{:class => 'grid_4'}
    %h2.heading Scan Information
    %ul.dashed
      %li
        Scanned
        = time_in_words(@scan.created_at)
      %li
        Device
        = @scan.device.make
      %li
        User Agent:
        = @scan.device.user_agent
      -if @scan.ip_address
        %li
          IP Address:
          =@scan.ip_address
    %h2.heading.clicks Clicks
    -unless @scan.clicks.empty?
      %ul.dashed
        -@scan.clicks.each do |click|
          %li
            %a{:href => click.link_href}= click.link
            
    -else
      No clicks for this scan

  %div{:class => 'grid_8 omega'}
    %h2.heading Location
    -if @scan.latitude && @scan.longitude
      #map
    -else
      No location information available for this click
  %div.clear
  
-if @scan.latitude && @scan.longitude
  -content_for :scripts do
    %script{:src => '/javascripts/jqgooglemaps.js'}
    -if 'production' == RAILS_ENV
      %script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAfe4JMQhRHwXz2cW23kXL_hRR1iDL153D07Lb-Ovd7YMar66DIRQFHW9nTMtUeoEMpBlX3CI8dXVPmA" }
    -else
      %script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAfe4JMQhRHwXz2cW23kXL_hTJQa0g3IQ9GZqIMmInSLzwtGDKaBTqeUIIulGtEce__DN1UBOSz57eyQ" }
    :javascript
      $(document).ready(function() {  
        $('#map').googleMaps({
          latitude: #{@scan.lat}, 
          longitude: #{@scan.long},
          markers: {
            latitude: #{@scan.lat}, 
            longitude: #{@scan.long}
          }
        });  
      });