</div>
#home.intro
  .container_12.center
    %div.grid_5.suffix_1
      %h2.close= t('home.biz_card_is_useful')
      %h5.bright= t('home.slogan')
      %p= t('home.explanation')
      %h3.close
        %a.big_button{:href => signup_path}
          Beta Signup Closed
        .note.dark
          PingTags will still work for existing users, but signup has been halted. See more
          %a{:href => ''} here
    #iphone.grid_6
      =image_tag 'iphone_screen.png'
    .clear

.container_12

  #scan.grid_4
    %img.frame{:src => 'images/scan.jpg'}
    %h2= t('home.scan')
    %p= t('home.scan_details')

  #click.grid_4
    %img.frame{:src => 'images/click.jpg'}
    %h2= t('home.click')
    %p= t('home.click_details')

  #analyze.grid_4.omega
    %img.frame{:src => 'images/analyze.jpg'}
    %h2= t('home.analyze')
    %p= t('home.analyze_details')

  #recent_scans.grid_12.omega
    %h2.heading= t('home.recent_scans')
    #map

.container_12
  #footer.grid_12
    &copy;
    %a{:href => 'http://squarepush.com'} 2010 Squarepush LLC and powered by LinkedIn&trade;

-content_for :scripts do
  %script{:src => '/javascripts/jqgooglemaps.js'}
  -if 'production' == RAILS_ENV
    %script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAfe4JMQhRHwXz2cW23kXL_hRR1iDL153D07Lb-Ovd7YMar66DIRQFHW9nTMtUeoEMpBlX3CI8dXVPmA" }
  -else
    %script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAfe4JMQhRHwXz2cW23kXL_hTJQa0g3IQ9GZqIMmInSLzwtGDKaBTqeUIIulGtEce__DN1UBOSz57eyQ" }
%script
  $(document).ready(function() {
  $('#map').googleMaps({
  depth: 2,
  markers: [
  - last_scan = @scans.slice(-1)
  - @scans.each do |scan|
    {
    latitude: #{scan.lat},
    longitude: #{scan.long}
    },
  {
  latitude: #{last_scan.lat},
  longitude: #{last_scan.long}
  }
  ]
  });
  });
