!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      PingTags:
      = yield(:title)
    = stylesheet_link_tag 'reset', 'text', '960', 'squarepush', 'master'
    = javascript_include_tag 'jquery', :cache => true
    = javascript_include_tag 'uservoice', :cache => true

    =yield :scripts
  %body
    .container_12
      #header
        #logo.grid_12
          %h1
            Pingtags
          #nav
            -if current_user
              %ul
                %li.first
                  %a{:href => account_path}
                    = t('main.dashboard')
                %li.last
                  %a{:href => logout_path}
                    = t('main.logout')
            -else
              %ul
                %li.first
                  %a{:href => signup_path}
                    = t('main.signup')
                %li.last
                  %a{:href => login_path}
                    = t('main.login')
      .clear
      = yield

  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  :javascript
    try {
    var pageTracker = _gat._getTracker("UA-12488924-1");
    pageTracker._trackPageview();
    } catch(err) {}
