!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = @user.name
      \- Pingtags
    = stylesheet_link_tag 'master'
    = stylesheet_link_tag '/jqtouch/jqtouch.min.css'
    = stylesheet_link_tag '/jqtouch/theme.min.css'
    = stylesheet_link_tag '/jqtouch/app.css'
    = javascript_include_tag 'jquery', '/jqtouch/jqtouch.min.js',       'http://code.google.com/apis/gears/gears_init.js', 'geo', 'geo_setup', :cache => true
    :javascript

      $.jQTouch({
          icon: 'jqtouch.png',
          statusBar: 'black-translucent',
          preloadImages: [
              '/jqtouch/img/chevron.png',
              '/jqtouch/img/back_button_clicked.png',
              '/jqtouch/img/button_clicked.png'
              ]
      });
    = yield :script
  

  %body
    .hidden{:style => 'display: none;'}
      #scan_id= @scan.id
      #scan_hash= @scan.hmac
    %p{ :style => "color: green" }
    #flash.container_16
      = flash[:notice]

    = yield
