!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      PingTags:
      = title || controller.class.to_s.gsub('Controller','')
    = stylesheet_link_tag 'reset', 'text', '960', 'squarepush', 'simple'
    = javascript_include_tag 'jquery', 'uservoice', :cache => true


  %body
    %p{ :style => "color: green" }
    #flash.container_16
      = flash[:notice]

    = yield