#home
  %div{:class => 'grid_6'}
    %h2.heading LinkedIn&trade; Profile
    #badge
      .avatar.grey_border
        %img{:src=> current_user.picture_url }
      .bio
        .name= current_user.name
        .headline= current_user.headline
      .clear
    %h6.close Summary
    %p.summary= current_user.summary
    %h6.close 
      Contact Details
      %span.small
        %a{:href => update_contact_account_path}
          (edit)
    %ul.dashed
      %li
        Email:
        = current_user.email
      -unless current_user.phone_number.blank?
        %li
          Phone:
          = current_user.phone_number
      

  %div{:class => 'grid_3 omega'}
    %h2.heading PingTag QR Code
    %img.grey_border{:src => current_user.barcode(220, 0)}
  %div.clear
  %div.grid_9
    %h2.heading Scans
    -if @scans.count > 0
      %table
        %tbody
          %tr
            %th
            %th Device
            %th Clicks
            %th Location Data
            %th Time
          -@scans.each do |scan|
            %tr
              %td.icon=image_tag 'scan.png'
              %td=scan.device.make
              %td=scan.clicks.count
              %td
                -if scan.location?
                  &#9733;
              %td
                %a{:href => scan_path(scan)}
                  ="#{time_in_words(scan.created_at)}"
      = will_paginate @scans
    -else
      %p No scans yet